
.icon-custom-github-circled-alt2:before { content: '\e800'; } /* '' */
.icon-custom-location:before { content: '\e801'; } /* '' */
.icon-custom-chat:before { content: '\e802'; } /* '' */
.icon-custom-group-circled:before { content: '\e803'; } /* '' */
.icon-custom-gplus-circled:before { content: '\e804'; } /* '' */
.icon-custom-facebook-circled:before { content: '\e805'; } /* '' */
.icon-custom-vcard:before { content: '\e806'; } /* '' */